* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #CDCDCD;
}

.content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    height: 120px;
    background-image: url(../../assets/images/start-screen-gradient-background.png);
}

.navigation {
    position: absolute;
    width: 1200px;
    height: 60px;
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.content-header__list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding-left: 0;
    max-width: 443px;
    margin-left: 757px;
}

.content-header__item {
    margin-left: 35px;
}

.content-header__item:first-child {
    margin-left: 0;
}

.content-header__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}

.content-header__link:hover {
    color: #FAFAFA;
}

a.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.content-header__logo {
    position: absolute;
    width: 200px;
    height: 70px;
    padding: 0;
    margin-right: 570px;
}

.logo_title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #F1CDB3;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}

.logo_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.content-main__top {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    height: 788px;
    background-image: url(../../assets/images/start-screen-gradient-background.png);
}

.top {
    position: absolute;
    width: 1200px;
    height: 728px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;
}

.content-main-screen {
    position: absolute;
    width: 470px;
    height: 332px;
    margin-left: 0;
    top: 163px;
}

.content-main__title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 332px;
    margin-bottom: 42px;
}

.content-main__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 470px;
    margin-bottom: 42px;
}

.content-main__button {
    display: block;
    background: #F1CDB3;
    border-radius: 100px;
    max-width: 207px;
    height: 52px;
}

.content-main__button:hover {
    background: #FDDCC4;
}

.content-main__button-label {
    font-family: 'Merriweather', serif;
    font-style: normal;
    text-align: center;
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    width: 117px;
    height: 22px;
    padding: 15px 45px;
    line-height: 130%;
}

.start-screen-puppy {
    position: absolute;
    display: block;
    max-width: 698px;
    height: 728px;
    margin-right: 0;
    margin-left: calc(50% - 698px/2 + 251px);
    margin-top: 0;
}

.content-main__about {
    position: relative;
    background-color: #FFFFFF;
    max-width: 1280px;
    height: 588px;
    margin: 0 auto;
}

.content-about {
    position: absolute;
    max-width: 1200px;
    height: 408px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.about-pets__img {
    position: absolute;
    max-width: 300px;
    height: 408px;
    margin-right: 725px;
    margin-left: 175px;
}

.content-about__text {
    width: 440px;
    height: 380px;
    margin-top: 14px;
    margin-right: 175px;
    margin-bottom: 14px;
    margin-left: 595px;
}

.about-text__tittle {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
    margin-top: 0;
    margin-bottom: 25px;
}

.about-text__subtittle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    width: 440px;
    margin-top: 0;
    margin-bottom: 25px;
}

.content-main__our-friends {
    position: relative;
    background-color: #F6F6F6;
    max-width: 1280px;
    height: 877px;
    margin: 0 auto;
}

.our-friends {
    position: absolute;
    width: 1200px;
    height: 697px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
}

.our-friends__tittle {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 60px;
}

.slider-container {
    position: absolute;
    max-width: 1200px;
    height: 435px;
    margin-top: 150px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 990px;
    height: 435px;
    padding-left: 105px;
    padding-right: 105px;
    overflow: hidden;
}

.slider-line {
    height: 435px;
    width: 990px;
    display: flex;
    margin-left: -53px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-line-img {
    height: 270px;
    max-width: 270px;
}

.slider-line__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    margin-right: 90px;
}

.slider__button {
    display: block;   
    text-decoration: none;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.slider-line__item:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__button:hover {
    background: #FDDCC4;
    border: none;
}

.slider__button-label {
    font-family: 'Merriweather', serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 15px 45px;
}

.slider-pet-name {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}

.slider-prev {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}

.slider-next {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}

.slider-next:hover {
    background: #FDDCC4;
    border: none;
}

.slider-prev:hover {
    background: #FDDCC4;
    border: none;
}

.our-friends__button {
    display: block;
    position: absolute;
    width: 261px;
    height: 52px;
    margin-top: 645px;
    margin-left: 467px;
    margin-right: 470px;
    background: #F1CDB3;
    border-radius: 100px;
}

.our-friends__button-label {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
}

.content-main__help {
    position: relative;
    background-color: #FFFFFF;
    max-width: 1280px;
    height: 611px;
    margin: 0 auto;
}

.content-help {
    position: absolute;
    width: 1200px;
    height: 431px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
}

.content-help__tittle {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 308px;
    margin-left: 446px;
    margin-right: 446px;
    margin-bottom: 60px;
}

.content-help__icons {
    position: absolute;
    width: 1026px;
    height: 281px;
    margin: 150px 87px 0 87px;
}

.help-icons__1row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-icons__2row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-left: 84px;
    margin-right: 84px;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;
    margin: 0;
    margin-left: 120px;
    float: right;
    width: 50%;
    text-align: center;
}

figure:first-child {
    margin-left: 0;
}

figcaption {
    margin-top: 90px;
    position: absolute;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.content-main__donation {
    position: relative;
    background-color: #F6F6F6;
    max-width: 1280px;
    height: 462px;
    margin: 0 auto;
}

.main-donation {
    position: absolute;
    width: 1200px;
    height: 282px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
}

.donation__img {
    position: absolute;
    max-width: 505px;
    height: 261px;
    margin-left: 143px;
    margin-top: 11px;
    margin-right: 552px;
    margin-bottom: 10px;
}

.main-donation__text {
    width: 380px;
    height: 282px;
    margin-left: 678px;
    margin-top: 0;
    margin-right: 142;
    margin-bottom: 0;
}

.donation-text__title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 320px;
    margin-bottom: 20px;
    margin-top: 0;
}

.donation-text__subtitle {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
    margin-top: 0;
}

.main-donation__bank-card {
    position: relative;
    background: #F1CDB3;
    border-radius: 9px;
    width: 349px;
    height: 43px;
    margin-bottom: 20px;
    margin-top: 0;
}

.bank-card-icon {
    position: absolute;
    width: 30px;
    height: 23px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bank-card-number {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 274px;
    height: 26px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.donation-text__description {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    width: 380px;
    height: 72px;
    margin: 0;
}

footer {
    position: relative;
    background-image: url(../../assets/images/footer-gradient-background.png);
    max-width: 1280px;
    height: 350px;
    margin: 0 auto;
}

.footer {
    position: absolute;
    width: 1200px;
    height: 310px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.footer-puppy {
    position: absolute;
    display: block;
    max-width: 300px;
    margin-left: 900px;
}

.footer-contacts {
    position: absolute;
    display: flex;
    width: 740px;
    height: 234px;
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 60px;
}

.contacts-list {
    position: absolute;
    width: 286px;
    height: 234px;
    left: 0px;
    top: 16px;
    margin-right: 160px;
}

.locations-list {
    position: absolute;
    width: 302px;
    height: 234px;
    left: 438px;
    top: 16px;
    margin: 0;
}

.list__item {
    list-style: none;
    margin-top: 0;
    margin-bottom: 40px;
    display: flex;
}

.item-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 286px;
    height: 90px;
    text-align: left;
}

.item-link {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
    margin-top: 0;
    text-align: center;
}