
a {
    text-decoration: none;
    }

body {
    background-color: black;

}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    max-width: 1280px;
}
.content-header__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 443px;
    height: 27px;
    left: 757px;
    top: 16px;
}
.content-header__item {
    margin-left: 35px;
}
.content-header__item:first-child {
    margin-left: 0;
}
.content-header__link {
    color: #CDCDCD;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.content-header__logo {
    line-height: 10px;
    padding: 0;
}
.logo_title {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    color: #F1CDB3;
    font-size: 32px;
    line-height: 10px;
    align-items: center;
    letter-spacing: 0.06em;
}
.logo_subtitle {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.1em;
}
.content-main__top {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1280px;
    height: 728px;
    line-height: 42px;
    position: relative;
}
.content-main__top, header {
    background-image: url(../../assets/images/start-screen-gradient-background.png);
}

.content-main-screen {
    padding-top: 163px;
    padding-bottom: 243px;
}

.content-main__title {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px;
    height: 114px;
}
.content-main__subtitle {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
    height: 72px;
    margin-bottom: 42px;
}
.content-main__button {
    display: block;
    background: #F1CDB3;
    text-decoration: none;
    border-radius: 100px;
    max-width: 207px;
    height: 52px;
}
.content-main__button:hover {
    background: #FDDCC4;
    border-radius: 100px;
  }
.content-main__button-label {
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    font-family: Georgia, serif;
    font-style: normal;
    text-align: center;
    width: 117px;
    height: 22px;
    padding: 15px 45px;
    line-height: 130%;
}

.start-screen-puppy {
    position: absolute;
    width: 698px;
    height: 728px;
    right: 0;
    left: calc(50% - 698px/2 + 251px);
    top: 0;
}
.content-header__link:hover {
    color: #FAFAFA;
  }
a.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}
.content-main__about {
    position: relative;
    background-color: #FFFFFF;
    max-width: 1280px;
    height: 588px;
    padding-left: 40px;
    padding-right: 40px;
}

.content-about {
    position: relative;
    width: 1200px;
    height: 408px;
    padding-left: 40px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 100px;
}
.about-pets__img {
    position: absolute;
    max-width: 100%;
    height: auto;
    display: block;
    width: 300px;
    height: 408px;
    padding-top: 0;
    padding-right: 725px;
    padding-bottom: 0;
    padding-left: 175px;
}
.content-about__text{
    position: absolute;
    width: 430px;
    height: 380px;
    padding-top: 14px;
    padding-right: 175px;
    padding-bottom: 14px;
    padding-left: 595px;
}
.about-text__tittle {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
    margin-top: 0;
    margin-bottom: 25px;
}
.about-text__subtittle {
    width: 430px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 0;
    margin-bottom: 25px;
}
.content-main__our-friends {
    position: relative;
    background-color: #F6F6F6;
    max-width: 1280px;
    height: 877px;
    padding-left: 40px;
    padding-right: 40px;
}
.our-friends__tittle {
    position: absolute;
    width: 400px;
    margin-top: 80px;
    margin-left: 440px;
    margin-right: 440px;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.slider-container {
    position: absolute;
    width: 1200px;
    height: 435px;
    margin: 230px 40px 212px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider {
    width: 990px;
    height: 435px;
    padding-left: 105px;
    padding-right: 105px;
    overflow: hidden;
}
.slider-line {
    height: 435px;
    width: 990px;
    display: flex;
    margin-left: -53px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-line-img {
    height: 270px;
    max-width: 270px;
}

.slider-line__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    margin-right: 90px;
}
.slider__button {
    display: block;   
    text-decoration: none;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}
.slider__button:hover {
    background: #FDDCC4;
    border: none;
  }
.slider__button-label {
    width: 98px;
    height: 22px;
    font-family: Georgia, serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 15px 45px;
}
.slider-pet-name {
    width: 74px;
    height: 23px;
    left: 98px;
    top: 300px;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.slider-prev {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}

.slider-next {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}
.slider-next:hover {
    background: #FDDCC4;
    border: none;
}
.slider-prev:hover {
    background: #FDDCC4;
    border: none;
}
.our-friends__button {
    width: 261px;
    height: 52px;
    margin-left: 510px;
    margin-right: 509px;
    margin-top: 725px;
    margin-bottom: 100px;
    background: #F1CDB3;
    border-radius: 100px;
    position: absolute;
}
.our-friends__button-label {
    font-family: Georgia, serif;
    width: 174px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    padding: 15px 45px;
    margin: 0;
}
.content-main__help {
    position: relative;
    background-color: #FFFFFF;
    max-width: 1280px;
    height: 611px;
    padding-left: 40px;
    padding-right: 40px;
}
.content-help {
    position: absolute;
    width: 1200px;
    height: 431px;
    margin: 80px 40px 100px 40px;
}
.content-help__tittle {
    position: absolute;
    width: 308px;
    height: 90px;
    left: 446px;
    top: 0px;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 60px 0;
}

.content-help__icons {
    width: 1026px;
    height: 281px;
    margin: 150px 87px 0 87px;
}
.help-icons__1row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.help-icons__2row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-left: 84px;
    margin-right: 84px;
}
figure {  
    height: 113px;
    margin: 0;
    margin-left: 120px;
    float: right;
    width: 50%;
    text-align: center;
}


figure:first-child {
    margin-left: 0;
}
figcaption {
    margin-top: 30px;
    position: absolute;
    text-align: center;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.content-main__donation {
    position: relative;
    background-color: #F6F6F6;
    max-width: 1280px;
    height: 462px;
    padding-left: 40px;
    padding-right: 40px;
}
.main-donation {
    width: 915px;
    height: 282px;
    padding-left: 183px;
    padding-top: 80px;
    padding-right: 182px;
    padding-bottom: 100px;
}
.donation__img {
    position: absolute;
    width: 505px;
    height: 261px;
    padding-left: 0;
    padding-top: 11px;
    padding-right: 410px;
    padding-bottom: 10px;
}
.main-donation__text {
    width: 380px;
    height: 282px;
    padding-left: 535px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.donation-text__title {
    width: 300px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-text__subtitle {
    font-family: Georgia, serif;
    font-style: normal;
    width: 320px;
    height: 17px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.main-donation__bank-card {
    position: relative;
    background: #F1CDB3;
    border-radius: 9px;
    align-items: center;
    width: 349px;
    height: 43px;
    margin-bottom: 20px;
    margin-top: 0;
}

.bank-card-icon {
    position: absolute;
    width: 30px;
    height: 23px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bank-card-number {
    position: absolute;
    width: 274px;
    height: 26px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-text__description {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    width: 380px;
    height: 72px;
    margin: 0;
}

footer {
    position: relative;
    background-image: url(../../assets/images/footer-gradient-background.png);
    max-width: 1280px;
    height: 350px;
    padding-left: 40px;
    padding-right: 40px;
}
