* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: 'Merriweather', Times, serif;
}

header {
    background: #FFFFFF;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

.logo {
    text-align: center;
}

.logo_title {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
    margin: 0 0 10px;
}

.logo_subtitle {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    color: #292929;
    letter-spacing: 0.1em;
}

.logo-mobile {
    display: none;
    width: 300px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 158px;
}

.mobile_title {
    color: #F1CDB3;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin: 0 0 10px;
}

.mobile_subtitle {
    color: #FFFFFF;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.burger {
    display: none;
}

.links {
    display: flex;
    column-gap: 35px;
    list-style: none;
    margin: 0;
}

.link a {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #545454;
}

.link.active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}

.link a:hover {
    color: #292929;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.our-friends {
    background: #F6F6F6;
}

.our-friends_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 80px 40px 100px;
}

.pets-title {
    width: 480px;
    text-align: center;
}

.carousel-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1200px;
    column-gap: 40px;
    row-gap: 30px;
}

.card {
    width: 270px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
}

.card:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.card-img {
    height: 270px;
    width: 270px;
    order: 1;
}

.pet-name {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: #545454;
    order: 2;
}

.card__button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    order: 3;
}

.card:hover .card__button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FAFAFA;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    width: 910px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: -55px;
    right: -55px;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}

.close {
    width: 12px;
    height: 12px;
}


.active-wrapper {
    width: 900px;
    display: grid;
    grid-template-columns: auto auto;
}

.content-wrapper {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.active-h3 {
    width: 351px;
    font-size: 3.5rem;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: left;
}

.active-h4 {
    width: 351px;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: left;
    margin: 10px 0 40px;
}

.active-img {
    border-radius: 9px 0px 0px 9px;
    width: 500px;
    height: 500px;
    margin-right: 30px;
}

.active-p {
    width: 351px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: left;
    margin-bottom: 40px;
}

.about-pet::marker {
    color: #F1CDB3;
}

.pet_list {
    margin-left: 5px;
}

.about-pet_list {
    width: 220px;
}

.about-pet {
    font-size: 1.4rem;
    letter-spacing: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

footer {
    background: url(../../assets/images/footer-gradient-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0;
}

.footer-content {
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    color: #FFFFFF;
    font-size: 3rem;

}

.mail_icon {
    background-image: url(../../assets/icons/mail.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
}

.phone_icon {
    background-image: url(../../assets/icons/phone.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
}

.location_icon {
    background-image: url(../../assets/icons/pin.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.footer-contacts {
    width: 278px;
}

.footer-locations {
    width: 300px;
}

.footer_puppy {
    width: 300px;
    height: 310px;
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .wrapper {
        max-width: 708px;
        margin: 0 auto;
    }

    .navigation_wrapper {
        padding: 30px;
    }

    .our-friends_wrapper {
        width: 708px;
        padding: 60px 30px 70px;
    }

    .carousel-cards {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        width: 580px;
        height: 1365px;
        column-gap: 40px;
        row-gap: 30px;
        overflow: hidden;
    }

    footer {
        background: url(../../assets/images/footer-gradient-background.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .footer_wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 65px;
        padding: 30px 30px 0;
    }

    .footer-content {
        display: flex;
        column-gap: 60px;
        align-items: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .wrapper {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .navigation_wrapper {
        max-width: 260px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px 30px 10px;
    }

    .navigation_links {
        z-index: 9;
        background: #292929;
        width: 320px;
        height: 823px;
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.5s all;
    }

    .links {
        width: 243px;
        padding: 30px 38px 0;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
    }

    .link {
        margin-bottom: 40px;
        text-align: center;
    }

    .link a {
        font-size: 2.8rem;
        color: #CDCDCD;
    }

    .link.active {
        color: #292929;
        border-bottom: 3px solid #F1CDB3;
        width: 114px;
        margin-left: 100px;
    }

    .logo {
        z-index: 10;
    }

    .burger {
        display: block;
        z-index: 10;
        transition: 0.5s all;
    }

    h3 {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 0;
    }

    .our-friends_wrapper {
        max-width: 300px;
        padding: 42px 10px;
    }

    .pets-title {
        width: 300px;
        text-align: center;
    }

    .carousel-cards {
        display: grid;
        grid-template-columns: auto;
        width: 270px;
        height: 1365px;
        row-gap: 30px;
        overflow: hidden;
    }

    footer {
        background: url(../../assets/images/footer-gradient-background.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .footer_wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        padding: 30px 10px 0;
    }

    .footer-content {
        width: 300px;
        display: flex;
        row-gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer_puppy {
        width: 260px;
        height: 269px;
    }
}