* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #CDCDCD;
}

.content-header {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    height: 120px;
    background-color: #FFFFFF;
}

.navigation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.content-header__list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding-left: 0;
    max-width: 443px;
    margin-left: 757px;
}

.content-header__item {
    margin-left: 35px;
}

.content-header__item:first-child {
    margin-left: 0;
}

.content-header__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #545454;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}

.content-header__link:hover {
    color: #292929;
}

a.active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}

.content-header__logo {
    position: absolute;
    width: 200px;
    height: 70px;
    padding: 0;
    margin-right: 570px;
}

.logo_title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #545454;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 10px;
}

.logo_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #292929;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    height: 1342px;
    background-color: #F6F6F6;
}

.our-pets {
    position: absolute;
    width: 1200px;
    height: 1162px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
}

.our-pets-title {
    position: absolute;
    width: 400px;
    height: 90px;
    left: calc(50% - 400px/2);
    top: 0px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pet-cards {
    position: absolute;
    width: 1200px;
    height: 930px;
    top: 135px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.slider-line-img {
    height: 270px;
    max-width: 270px;
}

.slider-line__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    margin-right: 90px;
}

.slider__button {
    display: block;   
    text-decoration: none;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.slider-line__item:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__button:hover {
    background: #FDDCC4;
    border: none;
}

.slider__button-label {
    font-family: 'Merriweather', serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 15px 45px;
}

.slider-pet-name {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}

footer {
    position: relative;
    background-image: url(../../assets/images/footer-gradient-background.png);
    max-width: 1280px;
    height: 350px;
    margin: 0 auto;
}

.footer {
    position: absolute;
    width: 1200px;
    height: 310px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.footer-puppy {
    position: absolute;
    display: block;
    max-width: 300px;
    margin-left: 900px;
}

.footer-contacts {
    position: absolute;
    display: flex;
    width: 740px;
    height: 234px;
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 60px;
}

.contacts-list {
    position: absolute;
    width: 286px;
    height: 234px;
    left: 0px;
    top: 16px;
    margin-right: 160px;
}

.locations-list {
    position: absolute;
    width: 302px;
    height: 234px;
    left: 438px;
    top: 16px;
    margin: 0;
}

.list__item {
    list-style: none;
    margin-top: 0;
    margin-bottom: 40px;
    display: flex;
}

.item-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 286px;
    height: 90px;
    text-align: left;
}

.item-link {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
    margin-top: 0;
    text-align: center;
}