* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #CDCDCD;
}

.content-header {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    height: 120px;
    background-color: #FFFFFF;
}

.navigation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.content-header__list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding-left: 0;
    max-width: 443px;
    margin-left: 757px;
}

.content-header__item {
    margin-left: 35px;
}

.content-header__item:first-child {
    margin-left: 0;
}

.content-header__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #545454;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}

.content-header__link:hover {
    color: #292929;
}

a.active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}

.content-header__logo {
    position: absolute;
    width: 200px;
    height: 70px;
    padding: 0;
    margin-right: 570px;
}

.logo_title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #545454;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 10px;
}

.logo_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #292929;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    height: 1342px;
    background-color: #F6F6F6;
}

.our-pets {
    position: absolute;
    width: 1200px;
    height: 1162px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
}

.our-pets-title {
    position: absolute;
    width: 400px;
    height: 90px;
    left: calc(50% - 400px/2);
    top: 0px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pet-cards {
    position: absolute;
    width: 1200px;
    height: 930px;
    top: 135px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px 40px;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FAFAFA;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    width: 900px;
    transition: 0.5s all;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: -50px;
    left: 900px;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size: 20px;
    background: none;
    font-weight: 600;
}

.popup .label__text {
    position: absolute;
    width: 351px;
    height: 362px;
    left: 529px;
    top: 50px;
}

.popup .label__text h3 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 130%;
    margin-bottom: 10px;
}

.popup .label__text h4 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 115%;
    margin-bottom: 40px;
}

.popup .label__text h5 {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 110%;
    margin-bottom: 40px;
}

.pet-popup {
    width: 500px;
    height: 500px;
    border-radius: 9px 0px 0px 9px;
}

.slider-line-img {
    height: 270px;
    max-width: 270px;
}

.slider-line__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
}

.slider__button {
    display: block;   
    text-decoration: none;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.slider-line__item:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.slider-line__item:hover .slider__button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
}

.slider__button-label {
    font-family: 'Merriweather', serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 15px 45px;
}

.slider-pet-name {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}

.slider-buttons {
    position: absolute;
    width: 340px;
    height: 52px;
    top: 1110px;
    left: 430px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}

.slider-double-prev, 
.slider-prev,
.slider-page-number,
.slider-next,
.slider-double-next {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    font-size: 20px;
}

.slider-buttons button.active {
    background-color: #F1CDB3;
}

.slider-buttons button.disabled {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

footer {
    position: relative;
    background-image: url(../../assets/images/footer-gradient-background.png);
    max-width: 1280px;
    height: 350px;
    margin: 0 auto;
}

.footer {
    position: absolute;
    width: 1200px;
    height: 310px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.footer-puppy {
    position: absolute;
    display: block;
    max-width: 300px;
    margin-left: 900px;
}

.footer-contacts {
    position: absolute;
    display: flex;
    width: 740px;
    height: 234px;
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 60px;
}

.contacts-list {
    position: absolute;
    width: 286px;
    height: 234px;
    left: 0px;
    top: 16px;
    margin-right: 160px;
}

.locations-list {
    position: absolute;
    width: 302px;
    height: 234px;
    left: 438px;
    top: 16px;
    margin: 0;
}

.list__item {
    list-style: none;
    margin-top: 0;
    margin-bottom: 40px;
    display: flex;
}

.item-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 286px;
    height: 90px;
    text-align: left;
}

.item-link {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
    margin-top: 0;
    text-align: center;
}